<div class="container">
  <div class="col-6 offset-3">
    <h2 class="py-3">Sign up</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    label: "Email",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :firstname,
                    label: "Prénom",
                    autofocus: true,
                    input_html: { autocomplete: "prénom" }%>
        <%= f.input :lastname,
                    label: "Nom",
                    autofocus: true,
                    input_html: { autocomplete: "nom" }%>
        <%= f.input :phone_number,
                    label: "Numéro de télephone",
                    as: :string,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "numéro de télephone" }%>
        <%= f.input :password,
                    label: "Mot de passe",
                    required: true,
                    hint: ("#{@minimum_password_length} charactères minimums" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirmer le mot de passe",
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions pt-3">
        <%= f.button :submit, "Créer un compte", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
