<div class="container mt-5">
  <h2 class="text-center">Rent <%= @bike.category %></h2>
  <div class="col-6 offset-3">
    <%= simple_form_for [@bike, @rent] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.submit class:"btn btn-danger large" %>
    <% end %>
  </div>
</div>
