<div class="container">
  <h1 class="text-start pt-3">Mon compte</h1>
  <p class="fs-6 pb-3">
    <span class="me-1">
      <%= current_user.email %>
       |
    </span>
    <%= link_to edit_user_registration_path, class: "text-decoration-underline" do %>
       Paramètres du compte <i class="fa-solid fa-arrow-right"></i>
    <% end %>
  </p>

  <% if current_user.rents.empty? %>
    <div class="banner-product row">
      <div class="col-12 col-md-4 banner-product-infos p-4">
        <h2 class="fs-4 text-start">Pas de vélo reservé en ce moment</h2>
        <p class="my-3 fs-6">Il est temps de ressortir préparer votre prochaine escapade.</p>
        <%= link_to bikes_path, class: "btn btn-primary dashboard-btn" do %>
          Lancer une recherche
        <% end %>
      </div>
      <div class="col-12 col-md-8 g-0 h-100 overflow-hidden d-flex align-items-center justify-content-center">
        <img src="https://c4.wallpaperflare.com/wallpaper/309/484/960/nature-bicycle-wallpaper-preview.jpg" draggable="false" />
      </div>
    </div>
  <% else %>
    <h2 class="border-bottom my-5 pb-2">Mes locations</h2>
    <div class="row mb-2">
      <% current_user.rents.each do |rent| %>
        <div class="col-12 col-md-6 col-lg-4">
          <%# component bike %>
          <div class="border rounded overflow-hidden mb-4 shadow-sm position-relative">
            <figure class="h-md-250 p-4 bg-white d-flex align-items-center justify-content-center">
              <%= cl_image_tag rent.bike.photos[0].key, height: 200, crop: :fill, draggable: false unless rent.bike.photos.empty?%>
            </figure>
            <div class="p-4">
              <strong class="d-inline-block text-secondary"><%= rent.bike.category %></strong>
              <h3 class="mb-0 py-3"><%= rent.bike.brand %></h3>
              <% if rent.status == "waiting" %>
                <h4 class="card-text my-4">En attente</h4>
              <% elsif rent.status == "Declined" %>
                <h4 class="card-text my-4">Refusée</h4>
              <% elsif rent.status == "Accepted" %>
                <h4 class="card-text my-4">Acceptée</h4>
              <% end %>
              <div class="d-flex align-items-center justify-content-between">
                <%= link_to bike_path(rent.bike), class: "btn btn-primary button" do %>
                  Voir le détail <i class="fa-solid fa-arrow-right"></i>
                <% end %>
                <div class="d-flex align-items-center text-primary">
                  <strong class="d-inline-block fs-4"><%= rent.bike.price_per_day %>€ </strong>
                  <em class="d-inline-block ms-2">/ jour</em>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>


  <h2 class="border-bottom my-5 pb-2">Mes offres</h2>
  <div class="row mb-2">
    <% current_user.bikes.each do |bike| %>
      <div class="col-12 col-md-6 col-lg-4">
        <%# component bike %>
        <div class="border rounded overflow-hidden mb-4 shadow-sm position-relative">
          <figure class="h-md-250 p-4 bg-white d-flex align-items-center justify-content-center">
            <%= cl_image_tag bike.photos[0].key, height: 200, crop: :fill, draggable: false unless bike.photos.empty? %>
          </figure>
          <div class="p-4">
            <strong class="d-inline-block text-secondary"><%= bike.category %></strong>
            <h3 class="mb-0 py-3"><%= bike.brand %></h3>
            <div class="d-flex align-items-center justify-content-between">
              <%= link_to bike_path(bike), class: "btn btn-primary button" do %>
                Voir le détail <i class="fa-solid fa-arrow-right"></i>
              <% end %>
              <div class="d-flex align-items-center text-primary">
                <strong class="d-inline-block fs-4"><%= bike.price_per_day %>€ </strong>
                <em class="d-inline-block ms-2">/ jour</em>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<%# Informations personnelles %>

  <div class="py-2" id="icon-grid">
    <h2 class="border-bottom pb-2">Mes informations personnelles</h2>

    <div class="row py-5 justify-content-center">
      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0 d-flex align-items-start justify-content-center">
        <%= link_to edit_user_registration_path, class: "text-center" do %>
          <i class="fa-solid fa-address-card fs-1 pe-2 mb-4"></i>
          <div>
            <h3 class="fw-bold mb-2 fs-4">Informations personnelles</h3>
            <p>Fournissez des renseignements personnels et indiquez comment nous pouvons vous joindre</p>
          </div>
        <% end %>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0 d-flex align-items-start justify-content-center">
        <%= link_to edit_user_registration_path, class: "text-center" do %>
          <i class="fa-solid fa-shield-halved fs-1 pe-2 mb-4"></i>
          <div>
            <h3 class="fw-bold mb-2 fs-4">Connexion et securité</h3>
            <p>Mettez à jour votre mot de passe.</p>
          </div>
        <% end %>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0 d-flex align-items-start">
        <div href="#" class="text-center">
          <i class="fa-solid fa-credit-card fs-1 pe-2 mb-4"></i>
          <div>
            <h3 class="fw-bold mb-2 fs-4">Paiements et versements</h3>
            <p>Consultez les paiements, les versements, les coupons, les cartes cadeaux et les taxes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
