<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://vttelectriques.fr/wp-content/uploads/2021/03/femme-ave-un-VTT-electrique.jpg);">
  <div class="container">
    <h1>Louez un vélo à un particulier</h1>
    <%= link_to "Louez un vélo", bikes_path, class: "btn btn-home shadow-lg button mt-2" %>
  </div>
</div>


<div class= "container my-5" >
  <%= simple_form_for :query, url: bikes_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required mb-2 search-field-color" placeholder="Dans quelle ville voulez-vous louer un vélo ?" type="text" name="query" id="search_query" />
      <button name="button" type="submit" class="btn btn-search btn-flat">
        <i class="fas fa-search"></i> Rechercher
      </button>
    </div>
  <% end %>

  <div class= "how-it-work my-5">
    <h2>Comment ça marche ?</h2>

    <div class="cards mt-4 mb-4">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static.wixstatic.com/media/8647db_f0b09c911d094122b14c83b6204bc45f~mv2.jpg/v1/fill/w_640,h_330,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/8647db_f0b09c911d094122b14c83b6204bc45f~mv2.jpg)">
        1. Je choisis un vélo
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://d1pk12b7bb81je.cloudfront.net/generated/1920x910/images/photos/slideshows/1481920699_1481920687-bikingslideshow.jpg)">
        2. Je réserve
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://photos.altai-travel.com/1920x0/promenade-a-vtt-dun-couple-devant-un-lac-24408.jpg)">
        3. En route !
      </div>
    </div>
  </div>
</div>

<div class="bg-primary p-4">
  <div class="container mt-4">
    <h2 class="border-bottom my-3 pb-2 text-white">Dernières suggestions</h2>
    <div class="row mb-2">
        <% Bike.all.shuffle[1..3].each do |bike| %>
          <div class="col-12 col-md-6 col-lg-4 my-4">
            <%# component bike %>
            <div class="card-product-propietary d-flex flex-column border rounded overflow-hidden h-100 position-relative" onClick="window.open('<%= bike_path(bike) %>')">
              <figure class="p-4 m-0 bg-white d-flex align-items-center justify-content-center overflow-hidden" style="height:250px">
                <%= cl_image_tag bike.photos[0].key, height: 200, crop: :fill, draggable: false unless bike.photos.nil? %>
              </figure>
              <div class="d-flex flex-column justify-content-between flex-grow-1 p-4">
                <div>
                  <strong class="d-inline-block text-secondary"><%= bike.category %></strong>
                </div>
                <div>
                  <p class="border-top border-bottom p-3 w-100 text-center">
                    <% if bike.status == true %>
                      <span class="me-2 text-success">Disponible</span>
                    <% else %>
                      <span class="me-2 text-danger">Non disponible</span>
                    <% end %>
                  </p>
                  <p class="mb-0 py-3 fs-6"><i class="fa-solid fa-location-dot"></i> <%= bike.address %></p>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center text-primary">
                      <strong class="d-inline-block fs-4"><%= bike.price_per_day %>€ </strong>
                      <em class="d-inline-block ms-2">/ jour</em>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
