<div class="mapboxgl-popup-content-image px-2">
  <%= cl_image_tag bike.photos.first.key, width: "150px", class: "rounded", draggable: false %>
</div>
<div class="mapboxgl-popup-content-body py-2 px-2">
  <h2><%= bike.category %></h2>
  <p><%= bike.user.email %></p>
  <p><%= bike.address %></p>
  <p><%= bike.price_per_day %>€ par jour</p>
  <%= link_to "Détail", bike_path(bike), class: "btn btn-primary" %>
</div>
