<div class="container mt-5">
  <h2 class="text-center">Modifier votre vélo</h2>
  <div class="col-6 offset-3">
    <%= simple_form_for(@bike) do |f| %>
      <%= f.input :category, label:"Categorie" %>
      <%= f.input :brand, label:"Marque"  %>
      <%= f.input :address, label: "Adresse",
                  input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                  wrapper_html: {data: {controller: "address-autocomplete",
                  address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
      %>
      <%= f.input :price_per_day, label:"Prix journalier" %>
      <%= f.input :status, label: "Available" %>
      <%= f.input :photos, label:"Photo(s)", as: :file, input_html: { multiple: true } %>
      <%= f.submit "Modifier mon vélo", class: "btn btn-primary large button" %>
    <% end %>
  </div>
</div>
