<div class="container">
<h1 class="text-center mt-4">Vélos</h1>
  <div class="row mt-5">
    <% @bikes.each do |bike| %>
      <div class="col-3">
        <%= link_to bike.category, bike_path(bike) %>
        <p>Prix journalier: <%= bike.price_per_day %></p>
        <p>Adresse: <%= bike.address %></p>
      </div>
    <% end %>
    <div style="width: 100%; height: 600px;"
         data-controller="map"
         data-map-markers-value="<%= @markers.to_json %>"
         data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
