<div class="container">
<h1 class="text-center mt-4">Vélos</h1>
<hr>
  <div class="row mt-4">
    <div class="col-12 col-md-6">
    <%= form_with url: bikes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control mb-3",
          placeholder: "Trouvez un vélo"
      %>
      <%= submit_tag "Rechercher", class: "btn btn-primary mb-3" %>
    <% end %>
      <div class="row">
        <% @bikes.each do |bike| %>
          <div class="col-12 col-lg-6 mb-4">
              <%# component bike %>
              <div class="d-flex flex-column border rounded overflow-hidden h-100 shadow-sm position-relative">
                <figure class="p-4 m-0 bg-white d-flex align-items-center justify-content-center overflow-hidden" style="height:200px">
                  <%= cl_image_tag bike.photos[0].key, class: "w-100", crop: :fill, draggable: false unless bike.photos.empty? %>
                </figure>
                <div class="d-flex flex-column justify-content-between flex-grow-1 p-4">
                  <div>
                    <strong class="d-inline-block text-secondary"><%= bike.category %></strong>
                    <p><%= bike.address %></p>
                  </div>
                  <div>
                    <p><%= bike.user.email %></p>
                    <div class="d-flex align-items-center text-primary my-3">
                      <strong class="d-inline-block fs-4"><%= bike.price_per_day %>€ </strong>
                      <em class="d-inline-block ms-2">/ jour</em>
                    </div>
                    <%= link_to bike_path(bike), class: "btn btn-primary button" do %>
                      Voir le détail <i class="fa-solid fa-arrow-right"></i>
                    <% end %>
                  </div>
                </div>
              </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div  style="width: 100%; top: 56px; height: 92vh" data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" class="sticky-top">
      </div>
    </div>
  </div>
</div>
