<div class="m-5">
  <h2 class="text-center align-items-center">Ajouter un vélo</h2><br>
  <div class="row">
    <div class="col-3 offset-1 p-2 bike-form">
      <%= simple_form_for(@bike) do |f| %>
        <%= f.input :category, collection: ['gravel', 'éléctrique','route', 'VTT', 'enfant', 'bmx', 'ville', 'autres'], label: "Catégorie", placeholder:"gravel" %>
        <%= f.input :brand, label:"Marque", placeholder: "Orbea"%>
        <%= f.input :address, label: "Adresse",
                    input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                    wrapper_html: {data: {controller: "address-autocomplete",
                    address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
        %>
        <%= f.input :price_per_day, label:"Prix journalier", placeholder:"€" %>
        <%= f.input :photos, label:"Photo(s)", as: :file, input_html: { multiple: true } %>
        <%= f.submit "Ajouter un vélo", class: "btn btn-primary large button"%>
      <% end %>
    </div>
    <div class="col-7 offset-1" >
        <div  style="width: 800px; top: 56px; height: 56vh" data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" class="sticky-top">
        </div>
    </div>
  </div>
</div>
