<div class="container mt-5">
  <h2 class="text-center">Add a new bike</h2>
  <div class="col-6 offset-3">
    <%= simple_form_for(@bike) do |f| %>
      <%= f.input :category %>
      <%= f.input :brand %>
      <%= f.input :address %>
      <%= f.input :price_per_day %>
      <%= f.submit class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
