<div class="container show-page">
  <div class="col-4 offset-4">
  <h1 class="text-center mt-3 mb-5">Details du vélo de <%= @bike.user.email %></h1>
    <div class="card-details p-3 rounded mb-5">
      <div class="card-details-image">
        <% @bike.photos.each do |photo| %>
          <%= cl_image_tag photo.key %>
        <% end %>
      </div>
      <hr class="w-100 py-1">
      <div class="card-details-content">
        <div>
          <p>Type : <%= @bike.category %></p>
          <% if @bike.brand %>
            <p>Marque : <%= @bike.brand %></p>
          <% end %>
          <p>Statuts : <%= @bike.status ? 'Disponible' : 'Indisponible' %></p>
          <p>Adresse : <%= @bike.address %></p>
          <p class="card-detais-price">Prix par jour : <%= @bike.price_per_day %> €</p>
          <hr class="pt-2">
          <div class="d-flex justify-content-around">
            <% if policy(@bike).edit? %>
              <%= link_to "Modifier", edit_bike_path(@bike), class:"btn btn-confirm rounded" %>
            <% end %>
            <% if @bike.user != current_user %>
              <%= link_to "Réserver", new_bike_rent_path(@bike), class:"btn btn-confirm rounded large p-2" %>
            <% end %>
            <%= button_to "Supprimer", @bike, method: :delete, class:"btn btn-confirm rounded" if policy(@bike).destroy? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
