
<div class="container show-page row">
  <h2 class="text-center mt-4 mb-5">Détails du vélo</h2>
  <%= link_to "‹‹ Retour aux résultats", edit_bike_path(@bike), class:"offset-2 mb-2"%>
  <div class="col-4 offset-2">
    <div class="card-details p-3 rounded mb-5">
      <div class="card-details-image">
        <% unless @bike.photos.empty? %>
          <% @bike.photos.each do |photo| %>
            <%= cl_image_tag photo.key, draggable: false %>
          <% end %>
        <% end %>
      </div>
      <hr class="w-100">
      <div class="card-details-content">
        <div>
          <p>Type : <%= @bike.category %></p>
          <% if @bike.brand %>
            <p>Marque : <%= @bike.brand %></p>
          <% end %>
          <p>Statuts : <%= @bike.status ? 'Disponible' : 'Indisponible' %></p>
          <p>Adresse : <%= @bike.address %></p>
          <% if @bike.user.phone_number %>
            <p>Contact : <%= @bike.user.phone_number %></p>
          <% end %>
          <p class="card-detais-price">Prix journalier : <%= @bike.price_per_day %> €</p>
          <hr class="pt-2">
          <div data-controller="dynamic-booking-price"
            data-dynamic-booking-price-price-value="<%= @bike.price_per_day %>">
            <div class="d-flex justify-content-around">
              <%= link_to "Modifier", edit_bike_path(@bike), class:"btn btn-primary button rounded" if policy(@rent).edit? %>
              <% if policy(@rent).create? %>
                <%= simple_form_for [@bike, @rent],
                                    html: {
                                      data: {
                                        controller: 'flatpickr',
                                        flatpickr_dates_value: @bike.flatpickr_booked_dates_object
                                      }
                                    } do |f| %>
                                      <div class="row">
                                        <div class="col-6">
                                          <%= f.input :start_date,
                                                      as: :string,
                                                      html5: true,
                                                      label: "Date de début",
                                                      placeholder: "Date...",
                                                      input_html: {
                                                        data: {
                                                          flatpickr_target: 'startDateInput',
                                                          dynamic_booking_price_target: 'startDateInput',
                                                          action: 'change->dynamic-booking-price#updatePrice'
                                                        }
                                                      } %>
                                        </div>
                                        <div class="col-6">
                                          <%= f.input :end_date,
                                                      as: :string,
                                                      html5: true,
                                                      placeholder: "Date...",
                                                      label: "Date de fin",
                                                      input_html: {
                                                        data: {
                                                          flatpickr_target: 'endDateInput',
                                                          dynamic_booking_price_target: 'endDateInput',
                                                          action: 'change->dynamic-booking-price#updatePrice'
                                                        }
                                                      } %>
                                        </div>
                                      </div>
                                      <p class="fs-5">
                                        <!-- target the HTML tag that will display the dynamic price -->
                                        Prix total: <span data-dynamic-booking-price-target="priceHolder"><%= @bike.price_per_day %></span> €
                                      </p>
                                      <div class="d-flex justify-content-center">
                                        <%= f.submit 'Réserver', class:"btn btn-primary button rounded large p-2" %>
                                      </div>
                <% end %>
              <% end %>
              <%= button_to "Supprimer", @bike, method: :delete, class:"btn btn-primary button rounded" if policy(@bike).destroy? %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
  <% if !policy(@rent).create? %>
    <div class="card-details p-3 rounded mb-5">
      <% if @bike.rents.empty? %>
        <div class="d-flex justify-content-center align-items-center">
          <p class="m-0">Ce vélo n'a actuellement aucune réservations</p>
        </div>
      <% else %>
        <% @bike.rents.each do |rent| %>
          <p>Du <%= rent.start_date %> au <%= rent.end_date %></p>
          <p><%= rent.user.email%></p>
          <% if rent.status == "waiting" %>
            <%= link_to "Accepte", accepted_rent_path(rent), data: {turbo_method: :patch}, class: "btn btn-primary button" %>
            <%= link_to "Decline", declined_rent_path(rent), data: {turbo_method: :patch}, class: "btn btn-primary button" %>
          <% elsif rent.status == "Accepted" %>
            <h4>Accepté</h4>
          <% else %>
            <h4>Decliné</h4>
          <% end %>
          <hr>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div  style="width: 100%; height: 500px;" data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" >
    </div>
  <% end %>
  </div>
</div>
